xcuserdata/
DerivedData/
build/
*.xcuserstate
node_modules/
Secrets.xcconfig
admin/js/config.js
supabase/.temp/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example

web/support/config.js
